<div class="col-xs-6">
  <h3>There are {{sortedStudents.length}} Open Tickets</h3>
  {{#each sortedStudents as |student|}}
    <div class="well">
      <p>Student: {{student.name}}</p>
      <p>Issue: {{student.issue}}</p>
      <p>Location: {{student.location}}</p>
      <p>{{moment-from-now student.timeIn interval=1000}}</p>
      <button {{action 'closeTicket' student}} class="btn btn-success">Close</button>
    </div>
  {{/each}}
</div>
